.nav {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  color: #999999;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.title-1{
  margin: auto;
}